<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @cost.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @cost.cost %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @cost.supplier %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
